* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

.center {
    padding-left: calc(50% - 605px);
    padding-right: calc(50% - 605px);
}

.header {
    height: 710px;
    overflow: hidden;
    background-color: #E1FF8F;
    position: relative;
}

.star-big {
    position: absolute;
    right: -380px;
    top: -260px;
    overflow: hidden;
}

.star-about {
    position: absolute;
    top: 108px;
    right: -110px;
}

.star2 {
    position: absolute;
    top: 94px;
    left: 63px;
}

.star3 {
    position: absolute;
    top: 69px;
    left: 156px;
}

.star4 {
    position: absolute;
    top: 568px;
    right: 344px;
}

.star5 {
    position: absolute;
    top: 538px;
    right: 455px;
}

.star6 {
    position: absolute;
    top: 130px;
    right: 78px;
}

.star7 {
    position: absolute;
    top: 96px;
    right: 156px;
}

.star8 {
    position: absolute;
    bottom: 65px;
    right: 67px;
}

.star10 {
    position: absolute;
    bottom: 45px;
    right: 180px;
}

.star11 {
    position: absolute;
    left: 25px;
    top: 770px;
}

.star12 {
    position: absolute;
    left: 40px;
    top: 822px;
}

.triangle {
    position: absolute;
    bottom: 110px;
    right: 135px;
}

.vector8-25 {
    position: absolute;
    bottom: -90px;
    right: 16px;
}

.vector8-35 {
    position: absolute;
    top: 248px;
    right: 245px;
}

.vector10-40 {
    position: absolute;
    top: -14px;
    right: 300px;
}

.vector11 {
    position: absolute;
    bottom: -66px;
    right: 80px;
    overflow: hidden;
}

.top {
    max-width: 768px;
}

.top__title {
    position: relative;
    z-index: 1;
    padding-top: 196px;
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 24px;
}

.top__text {
    position: relative;
    z-index: 1;
    max-width: 720px;
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 48px;
}

.top__btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    cursor: pointer;

    &:hover {
        background: rgb(255, 255, 255);
        color: rgb(32, 32, 39);
        transition: 0.2s;
    }
}

.moving-bar {
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    z-index: 1;
    height: 90px;
    background-color: #BCEC30;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;

    &__position {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.moving-bar span {
    display: flex;
    -webkit-animation: scroll 28s infinite linear;
    -moz-animation: scroll 28s infinite linear;
    animation: scroll 28s infinite linear;
}

.moving-item {
    line-height: 1.5;
    font-weight: 900;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(32, 32, 39);

    &:hover {
        scale: 1.04;
        transition: 0.2s;
    }
}

.about {
    position: relative;
    overflow: hidden;
    min-height: 1470px;
    background: rgb(32, 32, 39);
}

.about__title {
    padding-top: 94px;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 24px;

    &-mob {
        display: none;
    }
}

.about__text {
    color: #fff;
    max-width: 788px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 72px;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 52px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &-mob {
        display: none;
    }
}

.card__item {
    width: 378px;
    min-height: 473px;
    background-color: #fff;
    border-radius: 30px;

    &-img {
        max-width: 100%;
    }

    &-link {
        text-decoration: none;
        z-index: 1;

        &:hover {
            scale: 1.07;
            transition: 0.3s;
        }
    }

    &-desc {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 30px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-info {
        display: none;
    }

    &-btn {
        width: 108px;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        border: none;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: left;
        cursor: pointer;
    }

    &-name {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }

    &-name-mob {
        display: none;
    }

    &-play-btn {
        display: none;
    }
}

.games {
    position: relative;
    background: rgb(32, 32, 39);
    border-top: 1px solid rgba(225, 255, 143, 0.3);
    padding-bottom: 144px;

    &-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        z-index: 1;
    }

    a:nth-of-type(odd) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__title {
        padding-top: 46px;
        padding-bottom: 72px;
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__item {
        display: flex;
        background-color: #fff;
        border-radius: 30px;
        text-decoration: none;

        &-link {
            text-decoration: none;
        }


        &-desc {
            min-height: 249px;
            padding: 48px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-name {
            color: rgb(32, 32, 39);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
        }

        &-info {
            color: rgb(32, 32, 39);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            padding-right: 24px;
            margin-bottom: 12px;
        }

        &-play-btn {
            border-radius: 60px;
            background: rgb(32, 32, 39);
            border: none;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            max-width: 247px;
            height: 66px;
            cursor: pointer;

            &:hover {
                background: rgb(255, 255, 255);
                color: rgb(32, 32, 39);
                border: 1px solid #000;
                transition: 0.2s;
            }
        }
    }
}

.footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(189, 237, 53);
}

.footer__text {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

@media (max-width: 768px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 649px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .top__title {
        padding-top: 147px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .top__text {
        height: 60px;
        max-width: 296px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding-bottom: 36px;
    }

    .top__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding-left: 28px;
        padding-right: 28px;
    }

    .card-box,
    .games,
    .triangle,
    .vector8-25,
    .vector10-40,
    .vector8-35,
    .vector11,
    .star-about,
    .star11,
    .star12 {
        display: none;
    }

    .card-box-mob {
        display: block;
        gap: 24px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 52px;
    }

    .star-big {
        stroke: black;
        stroke-width: 2px;
        stroke-dasharray: 2, 2;
        stroke-linejoin: round;
        paint-order: stroke;
        height: 245px;
        right: -100px;
        top: -84px;
    }

    .star2 {
        width: 35px;
        height: 35px;
        left: 65px;
        top: 115px;
    }

    .star3 {
        left: 120px;
        top: 75px;
        width: 21px;
        height: 21px;
    }

    .star4 {
        width: 39px;
        height: 41px;
        top: 580px;
        right: 50px;
    }

    .star5 {
        width: 18px;
        height: 18px;
        top: 560px;
        right: 100px;
    }

    .moving-bar {
        height: 51px;
    }

    .moving-item {
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
    }

    .about__title,
    .about__text,
    .card__item-btn {
        display: none;
    }

    .about__title-mob {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 48px;
        padding-bottom: 48px;
    }



    .game1,
    .game2 {
        order: -1;
    }

    .game4,
    .game6 {
        order: 1;
    }

    .card__item-info {
        display: block;
        max-width: 249px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .card__item-name {
        max-width: 285px;
    }

    .quiz {
        display: none;
    }

    .card__item-name-mob {
        display: block;
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }

    .card__item-play-btn {
        display: block;
        height: 55px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 16px;
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }
    }

}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-60%, 0)
    }
}

@media (min-width: 769px) and (max-width: 1235px) {
    .center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrap {
        display: flex;
        flex-direction: row;
    }

    .card__item {
        width: 360px;
        height: 550px;
    }

    .card-box,
    .games {
        display: none;

        &-mob {
            display: block;
            gap: 24px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 52px;
        }
    }
}

@media (min-width: 374px) and (max-width: 767px) {
    .card__item {
        width: auto;
    }
}